body{
    background-color: black
    justify-content : center;
  }
  #div1{
    margin-left: 35%;
    margin-right: 35%;
    background-color:blue 
     box-shadow: red 0px 5px 15px;
    padding-left : 10px;
    padding-bottom: 10px;
  }
  h1{
    color:red;
  }
  table{
    text-align: left;
    padding: 10px;
    border-collapse: collapse;
    width: 100%;
  }
  input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 10px;
  }
  button{
    margin-left: 0px;
    padding: 5px 125px;
    background-color:aqua;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  button:hover{
    cursor: pointer;
    background: yellow;
  }
  #address{
    margin-left: 30px;
  }
  #Pincode{
    margin-left: 30px;
  }
  #Country{
    margin-left: 30px;
  }
  #Gender{
    margin-left: 35px;
  }
  ul{
    margin-left: 35px;
  }
  #State{
    margin-left: 50px;
  }
  #lname{
    margin-left:12px;
  }
  td,th{
    padding: 5px;
  }
  @media screen and (max-width: 1080px) {
    #div1{
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 20px;
        padding-top: 2px;
        padding-bottom: 20px;
    }
  }
  